{{>partial_header}}
package {{packageName}}

{{#operations}}
import (
	"net/url"
	"strings"
{{#imports}}	"{{import}}"
{{/imports}}
)

type {{classname}}Service service

{{#operation}}

/**
 * {{summary}}{{#notes}}
 * {{notes}}{{/notes}}
 *
{{#allParams}} * @param {{paramName}}{{^required}}{{#isPrimitiveType}}(nil){{/isPrimitiveType}}{{/required}} {{description}} 
{{/allParams}} * @return {{#returnType}}{{^isListContainer}}*{{/isListContainer}}{{{returnType}}}{{/returnType}}{{^returnType}}nil{{/returnType}}
 */
func (a {{{classname}}}Service) {{{nickname}}}({{#allParams}}{{paramName}} {{#required}}{{{dataType}}}{{/required}}{{^required}}{{#isPrimitiveType}}interface{}{{/isPrimitiveType}}{{^isPrimitiveType}}{{{dataType}}}{{/isPrimitiveType}}{{/required}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) ({{#returnType}}{{^isListContainer}}*{{/isListContainer}}{{{returnType}}}, {{/returnType}} error) {
	var (
		localVarHttpMethod = strings.ToUpper("{{httpMethod}}")
		localVarPostBody interface{}
		localVarFileName string
		localVarFileBytes []byte
	)

	// create path and map variables
	localVarPath := "{{{basePath}}}{{path}}"{{#pathParams}}
	localVarPath = strings.Replace(localVarPath, "{"+"{{baseName}}"+"}", fmt.Sprintf("%v", {{paramName}}), -1){{/pathParams}}

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

{{#authMethods}}
	// authentication '({{name}})' required
{{#isApiKey}}
{{#isKeyInHeader}}
	// set key with prefix in header
	localVarHeaderParams["{{keyParamName}}"] = a.client.Config.GetAPIKeyWithPrefix("{{keyParamName}}")
{{/isKeyInHeader}}
{{#isKeyInQuery}}
	// set key with prefix in query string
	localVarQueryParams.Add(["{{keyParamName}}"], a.client.Config.GetAPIKeyWithPrefix("{{keyParamName}}"))
{{/isKeyInQuery}}
{{/isApiKey}}
{{#isBasic}}
	// http basic authentication required
	if a.client.Config.UserName != "" || a.client.Config.Password != ""{
		localVarHeaderParams["Authorization"] =  "Basic " + a.client.Config.GetBasicAuthEncodedString()
	}
{{/isBasic}}
{{#isOAuth}}
	// oauth required
	if a.client.Config.AccessToken != ""{
		localVarHeaderParams["Authorization"] =  "Bearer " + a.client.Config.AccessToken
	} else {
		return {{#returnType}}nil, {{/returnType}}errConfigMissingOAuth
	}
{{/isOAuth}}
{{/authMethods}}

{{#allParams}}
{{^required}}
{{#isPrimitiveType}}
	if err := a.client.typeCheckParameter({{paramName}}, "{{{dataType}}}", "{{paramName}}"); err != nil {
		return {{#returnType}}nil, {{/returnType}}err
	}
{{/isPrimitiveType}}
{{/required}}
{{/allParams}}
	{{#hasQueryParams}}
	{{#queryParams}}
	{{^required}}
	if {{paramName}} != nil {
    {{/required}}
	{{#isListContainer}}
		localVarQueryParams.Add("{{baseName}}", a.client.parameterToString({{paramName}}, "{{collectionFormat}}"))
	{{/isListContainer}}
	{{^isListContainer}}
		localVarQueryParams.Add("{{baseName}}", a.client.parameterToString({{paramName}}, ""))
	{{/isListContainer}}
    {{^required}}
	}
    {{/required}}
	{{/queryParams}}
	{{/hasQueryParams}}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{
		{{#produces}}
		"{{{mediaType}}}",
		{{/produces}}
		}

	// set Accept header
	localVarHttpHeaderAccept := a.client.SelectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
{{#hasHeaderParams}}
{{#headerParams}}
	// header params "{{baseName}}"
	localVarHeaderParams["{{baseName}}"] = a.client.parameterToString({{paramName}}, "")
{{/headerParams}}
{{/hasHeaderParams}}
{{#hasFormParams}}
{{#formParams}}
{{#isFile}}
	 fbs, _ := ioutil.ReadAll(file)
	 localVarFileBytes = fbs
	 localVarFileName = file.Name()
{{/isFile}}
{{^isFile}}
	 localVarFormParams.Add(["{{paramName}}"], a.client.parameterToString({{paramName}}, ""))
{{/isFile}}
{{/formParams}}
{{/hasFormParams}}
{{#hasBodyParam}}
{{#bodyParams}}	// body params
	 localVarPostBody = &{{paramName}}
{{/bodyParams}}
{{/hasBodyParam}}
{{#returnType}}
	 var successPayload = new({{returnType}})
{{/returnType}}

	 r, err := a.client.prepareRequest(localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes, "application/json")
	 if err != nil {
		  return {{#returnType}}{{#isListContainer}}*{{/isListContainer}}successPayload, {{/returnType}}err
	 }

	 localVarHttpResponse, err := a.client.callAPI(r)
	 if err != nil || localVarHttpResponse == nil {
		  return {{#returnType}}{{#isListContainer}}*{{/isListContainer}}successPayload, {{/returnType}}err
	 }
{{#returnType}}

	 defer localVarHttpResponse.Body.Close()
	 if err = json.NewDecoder(localVarHttpResponse.Body).Decode(&successPayload); err != nil {
	 	return nil, err
     }

{{/returnType}}
	return {{#returnType}}{{#isListContainer}}*{{/isListContainer}}successPayload, {{/returnType}}err
}
{{/operation}}{{/operations}}
