{{>partial_header}}
package {{packageName}}

type key int
const ContextOAuth2 key = 0
const ContextBasicAuth key = 1
const ContextAPIKey key = 2

type BasicAuth struct {
	UserName      string            `json:"userName,omitempty"`
	Password      string            `json:"password,omitempty"`	
}

/*
	APIKeyPrefix  map[string]string `json:"APIKeyPrefix,omitempty"`
	APIKey        map[string]string `json:"APIKey,omitempty"`
*/