{{>partial_header}}
package {{packageName}}
{{#models}}{{#imports}}
import ({{/imports}}{{#imports}}
	"{{import}}"{{/imports}}{{#imports}}
)
{{/imports}}{{#model}}{{#description}}
/* {{{description}}} */{{/description}}
type {{classname}} struct {
{{#vars}}
	{{name}} {{{datatype}}} `json:"{{baseName}},omitempty"` {{#description}}/* {{{description}}} */{{/description}}
{{/vars}}
}
{{/model}}{{/models}}